@font-face {
   font-family: 'sf-pro-display_semibold';
   font-display: swap;
   src: url('sf-pro-display_semibold/font.woff2');
}
@font-face {
   font-family: 'sf-pro-display_regular';
   font-display: swap;
   src: url('sf-pro-display_regular/font.woff2');
}
