@font-face {
   font-family: 'sf-pro-display_regular';
   font-display: swap;
   src: url('file:///C:/Users/thisismalindu/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-18_172842/fonts/sf-pro-display_regular/font.woff2');
}
